.container__clients {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 2em;

  .unit-vinyl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-family: $--Avenue;
    font-size: 2em;

    span {
      flex: 1;
      text-align: center;

      &:first-child {
        text-align: right;
      }

      &:last-child {
        text-align: left;
      }
    }

    a {
      flex-shrink: 0;

      img {
        width: 7em;
        max-width: 200px;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
    }
  }
}
