//COLORS
$--green-color: #B2F76E;
$--darkgreen-color: #233412;
$--pink-color: #EAACC9;
$--black: rgba(0, 0, 0, 0.9);

//FONT
$--Avenue: 'Avenue X';
$--Seamus: 'Seamus Trial';
$--Aileron-Semibold: 'Aileron-Heavy';
$--Aileron-SemiboldItalic: 'Aileron-SemiboldItalic';
$--Aileron-LightItalic: 'Aileron-ThinItalic';
$--Aileron-Regular: 'Aileron-Regular';
$--Outward: 'Outward';

@font-face {
  font-family: 'Avenue X';
  src: url("//fonts/Avenue_X.otf") format("opentype");
}

@font-face {
  font-family: 'Seamus Trial';
  src: url("//fonts/SeamusTrial-Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'Outward';
  src: url("//fonts/outward-block-webfont") format("truetype");
}

@font-face {
  font-family: 'Aileron Regular';
  src: url("/fonts/Aileron-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Aileron-Heavy';
  src: url("/fonts/Aileron-Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'Aileron-ThinItalic';
  src: url("/fonts/Aileron-ThinItalic.otf") format("opentype");
}

@font-face {
  font-family: 'Aileron-SemiBoldItalic';
  src: url("/fonts/Aileron-SemiBoldItalic.otf") format("opentype") ;
}
